.socialSignin {
  margin: .5rem auto 0;
}
.forget{
  text-align: end;
  margin-bottom: 10px;
  a {
    color: black;
    font-size: 15px;
  }
}

.links {
  display: flex;
  width: 100%;
  margin: .5rem auto 0;
  text-align: center;
  align-items: center;
  justify-content: center;

  a {
    color: #0099FF;
    font-size: 15px;
    padding-left: 6px;
  }
  p{
    font-size: 15px;
  }
}